#### The process to convert the address into coordinates is called geocoding

In [1]:
#import geopy as gp

In [2]:
#dir(gp)

### For geocoders to work, you need an internet connection because it gets your address and sends to an online service that has all these address in db and then for your address it will calculate the corresspoding latitute and longitude values.

In [25]:
from geopy.geocoders import Nominatim

In [29]:
geolocator = Nominatim(user_agent="supermarket")

In [30]:
# Passing an address to the geocode
location = geolocator.geocode("3995 23rd St, San Francisco, CA 94114")

In [32]:
location

Location(3995, 23rd Street, Noe Valley, San Francisco, San Francisco City and County, California, 94114, United States, (37.7529648, -122.4317141, 0.0))

In [43]:
location1 = geolocator.geocode("9600 W 118th Terr, Overland Park, KS 66210")

In [34]:
location2 = geolocator.geocode("2227 NE 24th St, Blue Springs, MO 64029")

In [35]:
location2

Location(NE 24th Street, Blue Springs, Jackson County, Missouri, 64014, United States, (39.0381577, -94.2301811, 0.0))

In [40]:
print(location.address)

3995, 23rd Street, Noe Valley, San Francisco, San Francisco City and County, California, 94114, United States

In [45]:
print(location1.latitude, location1.longitude)

38.91322059390549 -94.69334275560203

In [46]:
print(location1.raw)

{'place_id': 274015514, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 13134788, 'boundingbox': ['38.913170593905', '38.913270593905', '-94.693392755602', '-94.693292755602'], 'lat': '38.91322059390549', 'lon': '-94.69334275560203', 'display_name': '9600, West 118th Terrace, Overland Park, Johnson County, Kansas, 66210, United States', 'class': 'place', 'type': 'house', 'importance': 0.721}

In [47]:
import pandas as pd

In [48]:
df = pd.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [49]:
df["Address"] = df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [50]:
df["coordinates"] = df["Address"].apply(geolocator.geocode)
df

,ID,Address,City,State,Country,Name,Employees,coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056;1058;1060;1062, Sanchez Street, Noe Vall..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis..."

In [51]:
df.coordinates

0    (3666, 21st Street, Noe Valley, San Francisco,...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, San Francisco, ...
3    (3995, 23rd Street, Noe Valley, San Francisco,...
4    (1056;1058;1060;1062, Sanchez Street, Noe Vall...
5    (551, Alvarado Street, Noe Valley, San Francis...
Name: coordinates, dtype: object

In [52]:
df.coordinates[0]

Location(3666, 21st Street, Noe Valley, San Francisco, San Francisco City and County, California, 94114, United States, (37.75664965, -122.42940540299549, 0.0))

In [53]:
df.coordinates[0].latitude

37.75664965

In [54]:
df["Latitude"] = df["coordinates"].apply(lambda x: x.latitude)

In [55]:
df

,ID,Address,City,State,Country,Name,Employees,coordinates,Latitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,...",37.756650
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757827
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ...",37.755836
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056;1058;1060;1062, Sanchez Street, Noe Vall...",37.752144
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis...",37.753565

In [56]:
df["Longitude"] = df["coordinates"].apply(lambda x: x.longitude)
df

,ID,Address,City,State,Country,Name,Employees,coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,...",37.756650,-122.429405
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757827,-122.425392
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ...",37.755836,-122.428832
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056;1058;1060;1062, Sanchez Street, Noe Vall...",37.752144,-122.429977
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis...",37.753565,-122.433249